 
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.exe
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.exe.config
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.pdb
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.vshost.exe
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.vshost.exe.config
/PowerScheduler/PowerScheduler/bin/Debug/PowerScheduler.vshost.exe.manifest
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.exe
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.exe.config
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.pdb
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.vshost.exe
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.vshost.exe.config
/PowerScheduler/PowerScheduler/bin/Release/PowerScheduler.vshost.exe.manifest
/PowerScheduler/PowerScheduler/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/PowerScheduler/PowerScheduler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.PowerSchedulerForm.resources
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.Properties.Resources.resources
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.csproj.FileListAbsolute.txt
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.csproj.GenerateResource.Cache
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.csprojResolveAssemblyReference.cache
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.exe
/PowerScheduler/PowerScheduler/obj/Debug/PowerScheduler.pdb
/PowerScheduler/PowerScheduler/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PowerScheduler/PowerScheduler/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PowerScheduler/PowerScheduler/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PowerScheduler/PowerScheduler/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.PowerSchedulerForm.resources
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.Properties.Resources.resources
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.csproj.FileListAbsolute.txt
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.csproj.GenerateResource.Cache
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.csprojResolveAssemblyReference.cache
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.exe
/PowerScheduler/PowerScheduler/obj/Release/PowerScheduler.pdb
/PowerScheduler/PowerScheduler/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PowerScheduler/PowerScheduler/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PowerScheduler/PowerScheduler/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Endurance/.vs/Endurance/v14/.suo
/Endurance/Endurance/bin/Debug/Endurance.exe.config
/Endurance/Endurance/bin/Debug/Endurance.vshost.exe
/Endurance/Endurance/bin/Debug/Endurance.vshost.exe.config
/Endurance/Endurance/bin/Debug/Endurance.vshost.exe.manifest
/Endurance/Endurance/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Endurance/Endurance/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Endurance/Endurance/obj/Debug/Endurance.csproj.FileListAbsolute.txt
/Endurance/Endurance/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Endurance/Endurance/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Endurance/Endurance/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
